<div class="formEvent">
	<div class="formEventcontainer">
		<label class="formHead">
			Forgot Password
		</label>
		<form class="" (ngSubmit)="ngSubmit(formForgotPassword)" #formForgotPassword="ngForm">
			<div class="form-group">
				<label>Email Id<em>*</em></label>
				<input type="email" [(ngModel)]="user.emailId" name="useremailId" #emailIdName="ngModel" required email />
				<div class="errorMsgs" *ngIf="emailIdName.invalid && (emailIdName.dirty || emailIdName.touched)">
					<p *ngIf="emailIdName.hasError('required')">
						Email Id is Required
					</p> 
					<p *ngIf="emailIdName.hasError('email')">
						Email must be a valid email address
					</p>
				</div>
			</div>
			<div class="form-group">
				<div class="starFields">
					<span>All the * fields required.</span>
				</div>
			</div>
			<div class="form-group">
				<input type="submit" name="submit" value="Reset Password" [disabled]="formForgotPassword.invalid" />
			</div>
		</form>
	</div>
</div>