<div class="formEvent">
	<div class="formEventcontainer">
		<label class="formHead">
			Register Now
		</label>
		<form class="" (ngSubmit)="ngSubmit(formRegister.value)" #formRegister="ngForm">
			<div class="form-group">
				<label>First Name<em>*</em></label>
				<input type="text" [(ngModel)]="user.firstName" name="userfirstName" #fName="ngModel" minlength="3" required />
				<div class="errorMsgs" *ngIf="fName.invalid && (fName.dirty || fName.touched)">
					<p *ngIf="fName.hasError('required')">
						First Name is Required
					</p>
					<p *ngIf="fName.hasError('minlength')">
						Minimun 3 Chracters are Required
					</p> 
				</div>
			</div>
			<div class="form-group">
				<label>Last Name<em>*</em></label>
				<input type="text" [(ngModel)]="user.lastName" name="userlastName" #lName="ngModel" minlength="3" required />
				<div class="errorMsgs" *ngIf="lName.invalid && (lName.dirty || lName.touched)">
					<p *ngIf="lName.hasError('required')">
						Last Name is Required
					</p>
					<p *ngIf="lName.hasError('minlength')">
						Minimun 3 Chracters are Required
					</p>
				</div> 
			</div>
			<div class="form-group">
				<label>Email Id<em>*</em></label>
				<input type="email" [(ngModel)]="user.emailId" name="useremailId" #emailIdName="ngModel" required email />
				<div class="errorMsgs" *ngIf="emailIdName.invalid && (emailIdName.dirty || emailIdName.touched)">
					<p *ngIf="emailIdName.hasError('required')">
						Email Id is Required
					</p>
					<p *ngIf="emailIdName.hasError('email')">
						Email must be a valid email address
					</p>
				</div>
			</div>
			<div class="form-group">
				<label>Mobile No<em>*</em></label>
				<input type="text" [(ngModel)]="user.mobileNo" name="usermobileNo" #mobileName="ngModel" minlength="10" maxlength="10" required />
				<div class="errorMsgs" *ngIf="mobileName.invalid && (mobileName.dirty || mobileName.touched)">
					<p *ngIf="mobileName.hasError('required')">
						Mobile No is Required
					</p>
					<p *ngIf="(mobileName.hasError('minlength')) || (mobileName.hasError('maxlength'))">
						Please enter valid Mobile No
					</p>
				</div>
			</div>
			<div class="form-group">
				<label>Password<em>*</em></label>
				<input type="password" [(ngModel)]="user.password" name="userpassword" #passwordName="ngModel" minlength="6" required />
				<div class="errorMsgs" *ngIf="passwordName.invalid && (passwordName.dirty || passwordName.touched)">
					<p *ngIf="passwordName.hasError('required')">
						Password is Required
					</p>
					<p *ngIf="passwordName.hasError('minlength')">
						Password must be at least 6 characters
					</p>
				</div>
			</div>
			<div class="form-group">
				<label>Confirm Password<em>*</em></label>
				<input type="password" [(ngModel)]="user.confirmPassword" name="userconfirmPassword" #confirmPasswordName="ngModel" required />
				<div class="errorMsgs" *ngIf="confirmPasswordName.invalid && (confirmPasswordName.dirty || confirmPasswordName.touched)">
					<p *ngIf="confirmPasswordName.hasError('required')">
						Confirm Password is Required
					</p>
				</div>
			</div>
			<div class="form-group">
				<div class="starFields">
					<span>All the * fields required.</span>
				</div>
			</div>
			<div class="form-group">
				<input type="submit" name="submit" value="Register" [disabled]="formRegister.invalid" />
			</div>
		</form>
		<div class="AlreadyRegLogin">
			<label>OR</label>
			<span>If already registered <a routerLink = "/login">Login</a> here.</span>
		</div>
	</div>
</div>