<div class="formEvent">
	<div class="formEventcontainer">
		<label class="formHead">
			Register Now
		</label>
		<form class="" (ngSubmit)="ngSubmit(formRegister.value)" #formRegister="ngForm">
			<div class="form-group">
				<label>First Name</label>
				<input type="text" [(ngModel)]="user.fname" name="userfirstname" #fname="ngModel" minlength="3" required />
				<!--{{user.fname}}-->
				<div class="errorMsgs" *ngIf="fname.invalid && (fname.dirty || fname.touched)">
					<p *ngIf="fname.hasError('required')">
						First Name is Required
					</p>
					<p *ngIf="fname.hasError('minlength')">
						Minimun 3 Chracters are Required
					</p>
				</div>
			</div>
			<div class="form-group">
				<label>Last Name</label>
				<input type="text" [(ngModel)]="user.lname" name="userlastname" #lname="ngModel" minlength="3" required />
				<div class="errorMsgs" *ngIf="lname.invalid && (lname.dirty || lname.touched)">
					<p *ngIf="lname.hasError('required')">
						Last Name is Required
					</p>
					<p *ngIf="lname.hasError('minlength')">
						Minimun 3 Chracters are Required
					</p>
				</div>
			</div>
			<div class="form-group">
				<label>Email Id</label>
				<input type="email" [(ngModel)]="user.emailid" name="useremailid" #Regemailid="ngModel" required />
				<div class="errorMsgs" *ngIf="Regemailid.invalid && (Regemailid.dirty || Regemailid.touched)">
					<p *ngIf="Regemailid.hasError('required')">
						Email Id is Required
					</p>
					<p *ngIf="Regemailid.hasError('email')">
						Email must be a valid email address
					</p>
				</div>
			</div>
			<div class="form-group">
				<label>Password</label>
				<input type="password" [(ngModel)]="user.passwordname" name="userpassword" #Regpassword="ngModel" minlength="6" required />
				<div class="errorMsgs" *ngIf="Regpassword.invalid && (Regpassword.dirty || Regpassword.touched)">
					<p *ngIf="Regpassword.hasError('required')">
						Password is Required
					</p>
					<p *ngIf="Regpassword.hasError('minlength')">
						Password must be at least 6 characters
					</p>
				</div>
			</div>
			<div class="form-group">
				<label>Confirm Password</label>
				<input type="password" [(ngModel)]="user.confirmpasswordname" name="userconfirmpassword" #RegConfirmpassword="ngModel" required />
				<div class="errorMsgs" *ngIf="RegConfirmpassword.invalid && (RegConfirmpassword.dirty || RegConfirmpassword.touched)">
					<p *ngIf="RegConfirmpassword.hasError('required')">
						Confirm Password is Required
					</p>
				</div>
			</div>
			<div class="form-group">
				<input type="submit" name="submit" value="Register" [disabled]="formRegister.invalid" />
			</div>
		</form>
		<div class="AlreadyRegLogin">
			<label>OR</label>
			<span>If already registered <a routerLink = "/login">Login</a> here.</span>
		</div>
	</div>
</div>