@import "~src/scss/color";
@import "~src/scss/variables";
@import "~src/scss/mixin";

.footer{
	width:100%;
	float:left;
	padding:20px 18px;
	background:$white;
	text-align:center;
	position: relative;
	@include box-shadow(0,-1px,5px,rgba(0, 0, 0, 0.25));
	.socialLinks{
		width:100%;
		float:left;
		li{
			display:inline-block;
			a{
				display:inline-block;
				margin:0 10px 10px;
				color:$black;
			}
		}
	}
	h6{
		width:100%;
		float:left;
		color:$black;
	}
}