@import "~src/scss/color";
@import "~src/scss/variables";
@import "~src/scss/mixin";

.upcomingEvents{
    width: 100%;
    float: left;
    .addNewEventsOutr{
        width: 100%;
        float: left;
        .addNewEvents{
            float: right;
            margin:0 0 20px;
            border: 1px solid $lightGray;
            line-height: 32px;
            padding: 0 12px;
            text-transform: uppercase;
            letter-spacing: 1.0px;
            font-size: 12px;
            background: $lightGray;
            &:hover{
                background: $white;
            }
        }
    }
    // .FilteringDashBoard{
    //     width: 25%;
    //     float: left;
    //     padding-right: 20px;
    //     .FilteringDashBoardinner{
    //         width: 100%;
    //         float: left;
    //         .filterHead{
    //             border: 1px solid $darkGray;
    //             padding: 10px 15px;
    //             text-align: center;
    //             background: $lightGray;
    //             text-transform: uppercase;
    //             font-size: 14px;
    //             letter-spacing: 1.2px;
    //             width: 100%;
    //             float: left;
    //             i{
    //                 margin-left: 10px;
    //             }
    //         }
    //         .filterShow{
    //             width: 100%;
    //             float: left;
    //             border: 1px solid $darkGray;
    //             border-top:0;
    //             li{
    //                 width: 100%;
    //                 float: left;
    //                 border-bottom: 1px solid $darkGray;
    //                 padding: 10px 15px;
    //                 text-transform: uppercase;
    //                 letter-spacing: 1.2px;
    //                 &:last-child{
    //                     border-bottom: 0;
    //                 }
    //             }
    //         }
    //     }
    // }
    .UpcomingEventsDataOutr{
        width: 100%;
        float: left;
        .upcomingEventHead{
            border: 1px solid $darkGray;
            padding: 10px 15px;
            text-align: center;
            background: $lightGray;
            text-transform: uppercase;
            font-size: 14px;
            letter-spacing: 1.2px;
        }
        .UpcomingEventsData{
            width: 100%;
            float: left;
            border-left: 1px solid $darkGray;
            li{
                width: 50%;
                float: left;
                border-right: 1px solid $darkGray;
                border-bottom: 1px solid $darkGray;
                @include breakpoint(xs) {
                    width: 100%;
                }
                .upcomingEventcontent{
                    padding: 13px 15px;
                    width: 100%;
                    float: left;
                    position: relative;
                    line-height: 26px;
                    .moreInfoEvent{
                        position: absolute;
                        right: 15px;
                        top:50%;
                        background: $lightGray;
                        border: 1px solid $lightGray;
                        @include css3-transform(transform,translate(0, -50%));
                        padding: 0 10px;
                        display: inline-block;
                        text-transform: uppercase;
                        font-size: 13px;
                        &:hover{
                            
                        }
                    }
                }
                &:nth-child(4n-2),&:nth-child(4n-1){
                    background: $lightGray;
                    @include breakpoint(xs) {
                        background: $white;
                    }
                    .upcomingEventcontent{
                        .moreInfoEvent{
                            background: $white;
                            border: 1px solid $white;
                            @include breakpoint(xs) {
                                background:$lightGray;
                                border: 1px solid $lightGray;
                            }
                        }
                    }
                }
                &:nth-child(even){
                    @include breakpoint(xs) {
                        background: $lightGray;
                    }
                    .upcomingEventcontent{
                        .moreInfoEvent{
                            @include breakpoint(xs) {
                                background:$white;
                                border: 1px solid $white;
                            }
                        }
                    }
                }
            }
        }
    }
}
.UserInfoDashboard{
    width: 100%;
    float: left;
    position: fixed;
    bottom: 0;
    border-top: 1px solid $darkGray;
    padding: 7px 5px;
    background: $lightGray;
    z-index: 1;
    ul{
        width: 100%;
        float: left;
        li{
            display: inline-block;
            border-right: 1px solid $darkGray;
            padding: 0 10px;
            vertical-align: top;
            a{
                display: inline-block;
                text-align: center;
                font-size: 12px;
                line-height: 20px;
                text-transform: uppercase;
                i{
                    vertical-align: top;
                    display: block;
                }
                span{
                    display: block;
                    margin-top:5px;
                }
            }
            &:last-child{
                border-right: 0;
            }
        }
    }
}