@import "~src/scss/color";
@import "~src/scss/variables";
@import "~src/scss/mixin";

.header{
	width:100%;
	float:left;
	padding:20px 18px;
	text-align:center;
	position: relative;
	border-bottom:1px solid $darkGray;
	.logo{
		display:inline-block;
		position:absolute;
		top:50%;
		left:50%;
		@include css3-transform(transform,translate(-50%, -50%));
	}
	.headerRight{
		float:right;
		.userName{
			margin:0 10px;
			small{
				font-size:13px;
			}
			label{
				width:auto;
				float:none;
			}
		}
		.userInfoDetails{
			// display:none;
			position: absolute;
			right: 0;
			top: 100%;
			z-index: 1;
			background: $white;
			@include box-shadow(0,-1px,5px,rgba(0, 0, 0, 0.25));
			padding: 8px 20px;
			min-width:150px;
			li{
				width:100%;
				float:left;
				a{
					float:left;
					margin:5px 0;
				}
			}
			&.showDropdown{
				display:block;
			}
		}
	}
}