@import "~src/scss/color";
@import "~src/scss/variables";
@import "~src/scss/mixin";

.header{
	width:100%;
	float:left;
	padding:20px 18px;
	background:$white;
	text-align:center;
	position: relative;
	@include box-shadow(0,-1px,5px,rgba(0, 0, 0, 0.25));
	.logo{
		display:inline-block;
		position:absolute;
		top:50%;
		left:50%;
		@include css3-transform(transform,translate(-50%, -50%));
		color:$black;
	}
	.headerRight{
		float:right;
		.userName{
			display:inline-block;
			color:$black;
			margin:0 10px;
		}
		.userInfo{
			display:inline-block;
			color:#bbbbbb;
		}
	}
}