<header class="header">
	<a routerLink="/" class="logo">Logo</a>
	<div class="headerRight">
		<span class="userName">
			<small>Hi </small>
			<label>Guest</label>
		</span>
		<a href="javascript:void(0);" class="userInfo" (click)="userinfo()"><i class="fa fa-user"></i></a>
		<div class="userInfoDetails" *ngIf="showInfo">
			<ul class="userInfoDetailsList DashboarduserDetails">
				<li>
					<a href="javascript:void(0);" routerLink = "/dashboard">My Account</a>
				</li>
				<li>
					<a href="javascript:void(0);">Logout</a>
				</li>
			</ul>
			<ul class="userInfoDetailsList LoginuserDetails">
				<li>
					<a href="javascript:void(0);" routerLink = "/login">Login/ Sign Up</a>
				</li>
			</ul>
		</div>
	</div>
</header>