<div class="formEvent">
    <div class="formEventcontainer">
        <label class="formHead">
            Add New Events
        </label>
        <form class="" (ngSubmit)="ngSubmit(formAddEvent.value)" #formAddEvent="ngForm">
            <div class="form-group">
                <label>Event Type</label>
                <select [(ngModel)]="user.eventType" name="usereventType" #eventTypeName="ngModel" required>
                    <option>Select Option</option>
                    <option>Birthday</option>
                    <option>Aniversary</option>
                    <option>One Time Event</option>
                </select>
                <div class="errorMsgs" *ngIf="eventTypeName.invalid && (eventTypeName.dirty || eventTypeName.touched)">
                    <p *ngIf="eventTypeName.hasError('required')">
                        Event Type is Required
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label>Event Name</label>
                <input type="text" [(ngModel)]="user.eventName" name="usereventName" #eName="ngModel" minlength="3" required />
                <div class="errorMsgs" *ngIf="eName.invalid && (eName.dirty || eName.touched)">
                    <p *ngIf="eName.hasError('required')">
                        Event Name is Required
                    </p>
                    <p *ngIf="eName.hasError('minlength')">
                        Minimun 3 Chracters are Required
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label>Event Date</label>
                <input type="date" [(ngModel)]="user.eventDate" name="usereventDate" #eventDateName="ngModel" required />
                <div class="errorMsgs" *ngIf="eventDateName.invalid && (eventDateName.dirty || eventDateName.touched)">
                    <p *ngIf="eventDateName.hasError('required')">
                        Event Date is Required
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label>Repeat Annually</label>
                <div class="switchOutr">
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span> 
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label>Reminder</label>
                <select>
                    <option>Select Option</option>
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" name="submit" value="Add Event" [disabled]="formAddEvent.invalid" />
            </div>
        </form>
    </div>
</div>