<div class="formEvent">
	<div class="formEventcontainer">
		<label class="formHead">
			Login
		</label>
		<form class="" (ngSubmit)="ngSubmit(formLogin.value)" #formLogin="ngForm">
			<div class="form-group">
				<label>Email Id<em>*</em></label>
				<input type="email" [(ngModel)]="user.emailId" name="emailId" #emailIdName="ngModel" required email />
				<div class="errorMsgs" *ngIf="emailIdName.invalid && (emailIdName.dirty || emailIdName.touched)">
					<p *ngIf="emailIdName.hasError('required')">
						Email Id is Required
					</p>
					<p *ngIf="emailIdName.hasError('email')">
						Email must be a valid email address
					</p>
				</div> 
			</div>
			<div class="form-group">
				<label>Password<em>*</em></label>
				<input type="password" [(ngModel)]="user.password" name="password" #passwordName="ngModel" required />
				<div class="errorMsgs" *ngIf="passwordName.invalid && (passwordName.dirty || passwordName.touched)">
					<p *ngIf="passwordName.hasError('required')">
						Password is Required
					</p>
				</div>
			</div>
			<div class="form-group">
				<div class="starFields">
					<span>All the * fields required.</span>
				</div>
			</div>
			<div class="form-group">
				<div class="forgotPassword">
					<a routerLink = "/forgot-password">Forgot Password?</a>
				</div>
			</div>
			<div class="form-group">
				<input type="submit" name="submit" value="Login" [disabled]="formLogin.invalid" />
			</div>
		</form>
		<div class="AlreadyRegLogin">
			<label>OR</label>
			<span>Don't have an account? <a routerLink = "/register">Sign Up</a> here.</span>
		</div>
	</div>
</div>