/* Common CSS Start */
html,body{
	width:100%;
	height:100%;
	color:$black;
	background:$white;
	font-weight:400;
	position:relative;
	font-family: $roboto4;
	font-size:14px;
	line-height:20px;
}
h1,h2,h3,h4,h5,h6,p,ul,li{
	margin:0;
	font-weight: 400;
}
label,b, strong {
	margin-bottom: 0;
	font-weight: 400;
}
.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small{
	font-size:100%;
	color: $black;
	font-weight: 400;
}
label{
	width:100%;
	float:left;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
small{
	font-size:100%;
}
ul,li{
	list-style:none;
}
img{
	max-width:100%;
}
a{
	text-decoration:none;
}
a,i{
	color:$black;
}
a{
	display:inline-block;
}
a:focus{
	text-decoration:none!important;
	outline:0!important;
}
a:hover{
	text-decoration:none;
}
header,footer,section,artical{
	display:block;
}
select {
   -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
}
textarea{
	resize:none;
}
input[type="text"]:focus{outline:0;}
input[type="email"]:focus{outline:0;}
input[type="submit"]:focus{outline:0;}
select:focus{outline:0;}
textarea:focus{outline: 0;}
.overflow{
	overflow: hidden!important;
}
.slick-prev{left:0;}
.slick-next{right:0;}
.slick-prev,.slick-next{
	border: 1px solid #c8c8c8;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	width: 50px;
	height: 50px;
	top: 0;
}
.slick-prev::before, .slick-next::before {
	display:none;
}
.slick-dotted.slick-slider{
	margin-bottom:0;
}
.slick-dots {
	left: 50%;
	bottom: 70px;
	width: auto;
	transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
}
.slick-dots li button{
	background: #d0cdcc;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	padding:0;
}
.slick-dots li button,.slick-dots li{
	width: 12px;
	height: 12px;
}
.slick-dots li button::before{
	display:none;
}
.slick-dots li.slick-active button{
	background:$white;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: $black;
}
input::-moz-placeholder { /* Firefox 19+ */
	color: $black;
	opacity:1;
}
input:-ms-input-placeholder { /* IE 10+ */
	color: $black;
}
input:-moz-placeholder { /* Firefox 18- */
	color: $black;
}
input:disabled {
	opacity:0.25;
}

/* Common CSS End */
.errorMsgs{
	color:$errorColor;
	font-size: 13px;
	width: 100%;
	float: left;
	line-height: 22px;
}

