form{
	width:100%;
	float:left;
	label{
		width: 98%;
		margin: 10px 1% 0;
		em{
			color:$errorColor;
			margin-left: 2px;
			margin-top: -5px;
			display: inline-block;
			vertical-align: top;
		}
	}
	input,select{
		width:98%;
		float:left;
		margin:5px 1%;
		padding:8px 15px;
		outline:0;
		border:1px solid $darkGray;
		color:$black;
		font-size:13px;
		line-height:24px;
	}
	input[type="submit"]{
		background:$black;
		color:$white;
		border:0;
		margin:15px 1%;
		text-transform:uppercase;
		cursor:pointer;
		&:disabled{
			cursor:not-allowed;
		}
	}
	input[type="checkbox"]{
		width: auto;
		margin:4px 4px 4px 0px;
	}
	input.inputHalf{
		width: 48%;
	}
}
.errorMsgs{
	color:$errorColor;
	font-size: 12px;
	width: 98%;
	margin: 0 1%;
	float: left;
	line-height: 20px;
}
.formEvent{
	width:100%;
	float:left;
	padding:45px 0;	
	@include breakpoint(xs) {
		padding:20px 0;	
	}
	.formHead{
		margin: 0 1% 10px;
    	width: 98%;	
		text-align:center;
		text-transform:uppercase;
		font-size: 20px;
		line-height: 30px;
		letter-spacing: 1.5px;
	}
}

.formEventcontainer{
	max-width:450px;
	padding:0 12px;
	margin:0 auto;
	width:100%;	
}
.forgotPassword{
	width:98%;
	margin: 0 1%;
	float:left;
	a{
		display:inline-block;
		color:$black;
		font-size:12px;
		line-height:20px;
		text-decoration:underline;
		&:hover{
			text-decoration:none;
		}
	}
}
.starFields{
	width:98%;
	margin: 0 1%;
	float:left;
	span{
		display:inline-block;
		color:$errorColor;
		font-size:12px;
		line-height:20px;
	}
}
.AlreadyRegLogin{
	width:98%;
	margin:0 1%;
	float:left;
	text-align:center;
	label{
		margin:10px 0;
		font-size:18px;
		line-height:20px;
	}
	span{
		width:100%;
		float:left;
		a{
			text-decoration:underline;
			&:hover{
				text-decoration:none;
			}
		}
	}
}
.switchOutr{
	width: 98%;
	float: left;
	margin: 5px 1%;
	.switch {
		position: relative;
		display: inline-block;
		width: 60px;
		height: 32px;
		margin: 0;
		input[type="checkbox"] { 
			opacity: 0;
			width: 0;
			height: 0;
			&:checked + .slider:before {
				@include css3-transform(transform, translateX(26px));
			}
			&:checked + .slider {
				background-color:$lightBlue;
			}  
			&:focus + .slider {
				box-shadow: 0 0 1px$lightBlue;
			}
		}
		.slider {
			position: absolute;
			cursor: pointer;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color:$darkGray;
			@include css3-transition(transition, 0.4s); 
			&:before {
				position: absolute;
				content: "";
				height: 26px;
				width: 26px;
				left: 3px;
				bottom: 3px;
				background-color: $white;
				@include css3-transition(transition, 0.4s); 
			}
			&.round {
				@include css3-border-radius(border-radius,32px);
				&:before {
					@include css3-border-radius(border-radius,50%);
				}
			}
		}
	}
}
.changePasswordFields{
	width: 100%;
	float: left;
}